/* ISSUES PAGES
=============================================================================*/
.issue .box.risk {
  margin-top: 10px;
  padding: 10px;
}
.issue .box.risk p { margin: 0; }


/* RISKS PAGES
=============================================================================*/
#content > .risk {
  padding: 20px !important;
}

table.risks td.title,
table.risks td.description {
  text-align: left;
}

table.risks td.title { width: 20%; }
table.risks td.description { width: 40%; }

table.risks td a { color: #666; }

table.attributes strong {
  display: inline-block;
  width: 100px;
}