.issue .box.risk {
  margin-top: 10px;
  padding: 10px;
}
.issue .box.risk p { margin: 0; }

table.risks td.description,
table.risks td.title {
  text-align: left;
}

table.risks td a { color: #666; }

table.attributes strong {
  display: inline-block;
  width: 100px;
}